body {
    background-color: #C9E6F0;
    margin:50px;
}
h1{
	text-align:center;
	font-size:350%;
	font-family:"times new roman";
	margin-bottom: 0em;
}
h2{
	text-align:center;
	font-family:"times new roman";
	margin-top:0.2em;
	margin-bottom:0.2em;
}
p {
	text-align:center;
	margin:15px;
	font-size:110%;
	word-wrap:normal;
	width: 100%;
}
img {
	display:block;
	margin:auto;
}
.text_area {
	position:relative;
	left:20%;
	top:21px;
	width:60%;
	display:table;
}
a:link{
	text-decoration: none;
}
a:visited{

}
a:hover{
	text-decoration: underline;
}